
html {
  background: rgb(63, 82, 100);
}


#description {
  top: 7%;
  margin-left: auto;
  margin-right: auto;
  width: 33%;
  background: rgba(48, 48, 48, .5);
  border: 1px solid;
  border-top: 2px solid;
  padding: 10px 10px 10px;
  box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.3);
  outline: 0;
  overflow: auto;
}

p.desc {
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: Helvetica;
}

p.liz {
  text-align: left;
  font-size: 20px;
  color: white;
  font-family: Helvetica;
}


p.link {
  text-align:center;
  font-size: 17px;
  color: white;
  font-family: Consolas;  
	
}


#selfie {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 2px solid black;
}

#resume {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 10%;
  border: 1px solid black;
	
}

#cdata {
  float: left;
  border: 2px solid black;
  margin-right: 10px;
}

a:link {
  color: rgb(87,155,189);	
	
}

a:visited {
  color: rgb(64,105,125);
	
}

a:hover{
  color: rgb(113,182,216);
	
}

a:active {
	color: DarkCyan;
	
}
h1 {
  color: white;
  font-family: Helvetica;
  text-align: center;
	
}

#game {

  margin-left: auto;
  margin-right: auto;
  width: 33%;
  background: rgba(48, 48, 48, .5);
  border: 1px solid;
  padding: 10px 10px 10px;
  box-shadow: 4px 4px 2px 0 rgba(0,0,0,0.3);
  outline: 0;
  overflow: auto;
	
}

#msg {
  text-align: center;
  font-size: 19px;
  color: white;
  font-family: Helvetica;
  padding-bottom: 10px;
}
table{
  margin-left: auto;
  margin-right: auto;  
	
}



td{
  color: white;
  text-align: center;
  height: 50px;
  width: 50px;
  font-family: Impact;
  font-size: 40px;
  font: bold;

}

#b1 {
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	
}

#b2 {
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	border-left: solid 2px black;

}

#b3 {
	border-left: solid 2px black;
	border-bottom: solid 2px black;
	
}

#b4 {
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	border-top: solid 2px black;
}

#b5 {
	border-right: solid 2px black;
	border-bottom: solid 2px black;
	border-left: solid 2px black;
	border-top: solid 2px black;
}

#b6 {
	border-bottom: solid 2px black;
	border-left: solid 2px black;
	border-top: solid 2px black;
}

#b7 {
	border-right: solid 2px black;
	border-top: solid 2px black;
}

#b8 {
	border-right: solid 2px black;
	border-left: solid 2px black;
	border-top: solid 2px black;
}

#b9 {
	border-left: solid 2px black;
	border-top: solid 2px black;
}
